---
import Css from "../icons/Css.astro"
import GitHub from "../icons/Github.astro"
import Javascript from "../icons/Javascript.astro"
import NextJS from "../icons/NextJS.astro"
import Tailwind from "../icons/Tailwind.astro"
import Html from "../icons/Html.astro"
import Wordpress from "../icons/Wordpress.astro"
import WorldWeb from "../icons/WorldWeb.astro"
import Hubspot from "../icons/Hubspot.astro"
import LinkButton from "../linkButton/LinkButton.astro"
import React from "../icons/React.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  JAVASCRIPT: {
    name: "Javascript",
    class: "bg-[#FBFF00] text-black",
    icon: Javascript,
  },
  HTML: {
    name: "HTML5",
    class: "bg-[#003159] text-white",
    icon: Html,
  },
  CSS: {
    name: "css3",
    class: "bg-[#003159] text-white",
    icon: Css,
  },
  WORDPRESS: {
    name: "Wordpress",
    class: "bg-[#003159] text-white",
    icon: Wordpress,
  },
  HUBSPOT: {
    name: "HubSpot",
    class: "bg-[#003159] text-white",
    icon: Hubspot,
  },
  REACT: {
    name: "React",
    class: "bg-[#018eb5] text-white",
    icon: React,
  }
}

/* 
 {
    title: "SVGL - A beautiful library with SVG logos",
    description:
      "Biblioteca de logos SVG de las marcas más populares. +10k visitas al mes. +2K svgs descargados. Creado desde cero con Next.js, React y Tailwind CSS.",
    link: "https://adrianaleal.com/",
    image: "./projects/project_1.webp",
    tags: [TAGS.WORDPRESS],
  },
  {
    title: "Adicta - Proyecto realizado durante el curso de javascript en CoderHouse",
    description:
      "Proyecto realizado durante el curso de javascript en CoderHouse  ",
    link: "https://andresguti19fc.github.io/proyectoFinalDeJavascript/",
    github: "https://github.com/andresguti19fc/proyectoFinalDeJavascript",
    image: "./projects/adictaJS.webp",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
  },
  {
    title: "Criptomoon - Criptomonedas, el dinero del mañana",
    description:
      "Proyecto realizado durante el curso de desarrollo web en CoderHouse, donde aplique tecnicas como box model, flexbox, grid entre otras y se basa en la plataforma de estudios de criptomonedas dirigido por un amigo.",
    link: "https://proyecto-final-lac-one.vercel.app/",
    github: "https://github.com/andresguti19fc/proyecto-final",
    image: "./projects/criptomoon.webp",
    tags: [TAGS.HTML, TAGS.CSS],
  }
  */

const PROJECTS = [
 {
    title: "Tic-Tac-Toe",
    description:
      "Juego del Tic Tac toe desarrollado con React",
    link: "https://tictactoe-liard-omega.vercel.app/",
    image: "./projects/bg-tictactoe.png",
    github: "https://github.com/andres-developer19/tictactoe",
    tags: [TAGS.JAVASCRIPT, TAGS.REACT],
  },
 {
    title: "Adriana Leal",
    description:
      "Pagina perosonal de Adriana Leal",
    link: "https://adrianaleal.com/",
    image: "./projects/bg-adriana.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.WORDPRESS],
  },
  {
    title: "Bebidas Lamarca",
    description:
      "Atractivo y dinamico E-commerce dedicado a la venta de bebidas.",
    link: "https://bebidaslamarca.com.ar/",
    image: "./projects/bg-lamarca.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.WORDPRESS],
  },
  {
    title: "Hecney Rodriguez",
    description:
      "Pagina personal de Hecney Rodriguez",
    link: "https://hecneyrodriguez.com/",
    image: "./projects/bg-hecney.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.WORDPRESS],
  }, 
  {
    title: "University Park IFC",
    description:
      "University Park IFC website. is a coalition of fraternities previously affiliated with the University of Southern California. has an amazing blog to find all the information about it.",
    link: "https://www.universityparkifc.com/",
    image: "https://22529421.fs1.hubspotusercontent-na1.net/hubfs/22529421/screencapture-universityparkifc-2024-04-28-18_54_41.png",
    tags: [TAGS.WORDPRESS],
  },
  {
    title: "corrections.raysecur.com",
    description:
      "This is an extension of the raysecur.com website that includes multiple pages and a blog with various articles.",
    link: "https://corrections.raysecur.com/",
    image: "https://22529421.fs1.hubspotusercontent-na1.net/hubfs/22529421/screencapture-corrections-raysecur-2024-04-28-17_48_09.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.WORDPRESS],
  },
  {
    title: "SuperTek",
    description:
      "Website developed in WordPress that offers specialized services in the repair, maintenance and optimization of equipment used in crypto mining.",
    link: "https://www.supertek.com.ar/",
    image: "https://22529421.fs1.hubspotusercontent-na1.net/hubfs/22529421/screencapture-supertek-ar-2024-04-28-18_56_37.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.WORDPRESS],
  },
  {
    title: "Superiorhomeoffer",
    description:
      "Website developed in WordPress specialized in buying or selling your home with the best offers available.",
    link: "https://superiorhomeoffer.com/",
    image: "https://22529421.fs1.hubspotusercontent-na1.net/hubfs/22529421/screencapture-superiorhomeoffer-2024-04-28-18_58_32.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.WORDPRESS],
  },
  {
    title: "Mindlinkair",
    description:
      "Landing page developed in WordPress with the aim of promoting the quality and advanced technology of Mindlink Air glasses. Improve focus, productivity and mental resilience with the world's first fitness tracker designed for the brain.",
    link: "https://get.mindlinkair.com/",
    image: "https://22529421.fs1.hubspotusercontent-na1.net/hubfs/22529421/screencapture-adhawk-wpenginepowered-2024-04-28-19_04_59.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.WORDPRESS],
  },
  {
    title: "Mangone",
    description:
      "Mangone Law Firm LLC's landing page, designed with WordPress, is an essential platform for promoting the firm's legal services and establishing effective connections with potential clients.",
    link: "https://mangone.wpenginepowered.com/",
    image: "https://22529421.fs1.hubspotusercontent-na1.net/hubfs/22529421/screencapture-mangone-wpenginepowered-2024-04-28-19_07_09.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.WORDPRESS],
  },
  {
    title: "Vsurgic",
    description:
      "Built using WordPress and JavaScript, our website serves as a virtual gateway, ensuring smooth connectivity between the surgical suite and our carefully curated industry network.",
    link: "https://vsurgic.com/",
    image: "https://22529421.fs1.hubspotusercontent-na1.net/hubfs/22529421/screencapture-vsurgic-2024-04-28-19_08_38.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.WORDPRESS],
  },
  {
    title: "Bolsterbuilt",
    description:
      "lorem ipsum",
    link: "https://try.bolsterbuilt.com/usd-package",
    image: "https://22529421.fs1.hubspotusercontent-na1.net/hubfs/22529421/screencapture-try-bolsterbuilt-usd-package-2024-04-28-19_10_34.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.HUBSPOT],
  },
  {
    title: "Bolsterbuilt - LP",
    description:
      "lorem ipsum",
    link: "https://try.bolsterbuilt.com/schedule-a-call/ga",
    image: "https://22529421.fs1.hubspotusercontent-na1.net/hubfs/22529421/screencapture-try-bolsterbuilt-schedule-a-call-ga-2024-04-28-19_12_33.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.HUBSPOT],
  },
  {
    title: "Blog - Happy Agencies",
    description:
      "This blog, created with HTML, CSS and JavaScript, is supported by HubSpot technology. It stands out for the construction of templates using the HubL language. It is part of a comprehensive and exceptional theme developed by Happy Agencies.",
    link: "https://blog.happyagencies.com/",
    image: "https://22529421.fs1.hubspotusercontent-na1.net/hubfs/22529421/screencapture-blog-happyagencies-2024-04-28-19_14_01.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.HUBSPOT],
  },
  {
    title: "Link in Bio - Happy Agencies",
    description:
      "Link in Bio is an extension of the theme developed by Happy Agencies. This landing page provides a solution for displaying links to your most popular pages and social networks, all powered by HubSpot.",
    link: "https://bio.happyagencies.com/",
    image: "https://22529421.fs1.hubspotusercontent-na1.net/hubfs/22529421/Link-in-Bio.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.HUBSPOT],
  },
  {
    title: "Clearbox Strategies",
    description:
      "lorem ipsum",
    link: "https://clearboxstrategies.com/",
    image: "https://22529421.fs1.hubspotusercontent-na1.net/hubfs/22529421/screencapture-clearboxstrategies-2024-04-28-19_18_55.png",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT, TAGS.HUBSPOT],
  },
  {
    title: "Criptomoon - Criptomonedas, el dinero del mañana",
    description:
      "Proyecto realizado durante el curso de desarrollo web en CoderHouse, donde aplique tecnicas como box model, flexbox, grid entre otras y se basa en la plataforma de estudios de criptomonedas dirigido por un amigo.",
    link: "https://proyecto-final-lac-one.vercel.app/",
    github: "https://github.com/andresguti19fc/proyecto-final",
    image: "./projects/criptomoon.webp",
    tags: [TAGS.HTML, TAGS.CSS],
  },
  {}
]
PROJECTS.map(({tags}) => (
  console.log(tags)
))
---

<section class="flex flex-row gap-y-16 gap-x-5 flex-wrap justify-center md:justify-between">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="max-w-sm flex flex-col justify-between max-h-full h-full">
      <div class="media-project card">
        <ul class="flex gap-x-2 flex-row mb-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
        <figure class="img-project aspect-video h-[216px]">
        <img
          loading="lazy"
          class="rounded shadow-2xl shadow-white/10 aspect-video object-cover imgProject max-w-[380px] w-full h-[216px]"
          src={image}
          alt={`Captura de pantalla del proyecto ${image}`}
        />
        </figure>
        <div class="text-project p-[16px]">
        <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2">
          {title}
        </h3>
        <p class="text-lg mb-4 text-pretty">{description}</p>
      </div>
        <footer class="flex gap-x-4 items-end justify-start mt-auto">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Ver código fuente
            </LinkButton>
          )}
          <LinkButton href={link}>
            <WorldWeb />
            Ir al sitio web
          </LinkButton>
        </footer>
        </div>
      </article>
    ))
  }
</section>

<style>
    .card {
    display: flex;
    flex-direction: column;
    height:540px; /* Hace que todas las cards tengan la misma altura */
  }

  .img-project {
    overflow: hidden; /* Asegura que la imagen no se salga de la caja al escalar */
    display: inline-block; /* Asegura que el figure no se expanda más de lo necesario */
  }

  .imgProject {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Añade una transición suave */
    display: block; /* Asegura que la imagen ocupe todo el espacio dentro del figure */
  }

  .img-project:hover .imgProject {
    transform: scale(1.1);
  }
  article:hover .img-project {
    box-shadow: -6px 6px #FBFF00;
    border-radius: 2px;
  }
  article:hover .imgProject {
    transform: scale(1.1);
  }
</style>